<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">



<h1> THE LONGEST WORD GAME ! </h1>
<p> ******** Welcome to the longest word-game !******** </p>
<p> Here is your grid : </p>
<div id="data_grid" data-grid="<%= session[:grid] %>">

</div>
<p> ***************************************************** </p>

<p> "What's your best shot ?" </p>

<div class="container">
  <div class="row">
  <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
      <form role="form" action="/score">
        <div class="form-group">
          <label for="answer">Your best shot:</label>
          <input type="text" class="form-control" name="answer" id="question">
          <input type="hidden" name="start_time" value="<%= Time.now %>"  >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>
  </div>
</div>


<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="countid.js"></script>


