// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;
  padding-top: 80px;

}

.result {
  padding-top: 30px;
  padding-bottom: 30px;
}

.result h3{
 margin-top: 2px;
 margin-bottom: 2px;
}
